@import "tailwindcss";
@plugin "daisyui";

.startBtn{
    cursor: pointer;
}
.likeCommentShare .like a:hover,
.likeCommentShare .comment a:hover,
.likeCommentShare .share a:hover{
background-color: rgb(6, 83, 83);
  transition: background-color 0.3s ease;


}
.gradient-btn {
  background: linear-gradient(90deg, #b44cff, #5b4dff);
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gradient-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(91, 77, 255, 0.4);
}
.text-btn:hover{
 transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(91, 77, 255, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.navberLInk.active{
  background: linear-gradient(90deg, #b44cff, #5b4dff);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}
.proFileMenu .active{
  background: linear-gradient(90deg, #b44cff, #5b4dff);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}
